<h2 mat-dialog-title>Create</h2>
<mat-dialog-content class="mat-typography">

  <h5>Aqui va el formulario</h5><!-- Aqui empieza el contenido de la pagina -->

  <form>
    <div class="p-3">
      <div class="col p-1">
        <input type="text" class="form-control" placeholder="Dato 1">
      </div>
      <div class="col p-1">
        <input type="text" class="form-control" placeholder="Dato 2">
      </div>
      <div class="col p-1">
        <input type="text" class="form-control" placeholder="Dato 3">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>

</mat-dialog-content><!-- Aqui termina el contenido de la pagina -->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
