<mat-dialog-content class="mat-typography me">
    <div class="formu">
      <div class="head-form">
        <h2 mat-dialog-title>{{page_title}}</h2>
      </div>
      <div class="body form">
        <form #requeststatusForm="ngForm" (ngSubmit)="save()">
          <div class="p-3">
            <div class="col p-1">
              <label>Request Status</label><br>
              <input type="number" name="requeststatus" #requeststatus="ngModel" [(ngModel)]="requestanalysis.requeststatus" class="form-control" placeholder="escriba request analisis">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">{{btn}}</button>
        </form>
      </div>
    </div>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  </mat-dialog-actions>
