<header id="header">
    <nav id="menu">
      <ul>
        <li>
          <i class="fas fa-home"></i> <a [routerLink]="['/home']">  Inicio</a>
        </li>
        <li>
          <a [routerLink]="['/paneladmin']">panel</a>
        </li>
        
        <li>
          <a [routerLink]="['/workshift']">workshift</a>
        </li>
        <li>
          <a [routerLink]="['/humanresource']">humanresource</a>
        </li>
        
         <li>
          <a [routerLink]="['/product']">Products</a>
        </li>
        
      </ul>
    </nav>
</header>

