<header id="header">
    <nav id="menu">
      <ul>
        <li>
          <i class="fas fa-home"></i> <a [routerLink]="['/home']">  Inicio</a>
        </li>
        <li>
          <a [routerLink]="['/machinestate']">Machine State</a>
        </li>
        <li>
          <a [routerLink]="['/requeststatus']">Request Status</a>
        </li>
        <li>
          <a [routerLink]="['/StateBranchOffice']">State Branch Office</a>
        </li>
        <li>
          <a [routerLink]="['/requestanalysis']">Request Analysis</a>
        </li>
        <li>
          <a [routerLink]="['/branchoffice']">Branch Office</a>
        </li>
        <li>
          <a [routerLink]="['/product']">Products</a>
        </li>
      </ul>
    </nav>
</header>

