<header id="header">
    <nav id="menu">
      <ul>
        <li>
          <i class="fas fa-home"></i> <a [routerLink]="['/home']">Inicio</a>
        </li>
        <li>
            <a [routerLink]="['/show']">Show Ejemplo</a>
          </li>
          <li>
            <a [routerLink]="['/home']">Segunda entidad</a>
          </li>
          <li>
            <a [routerLink]="['/productions']">Producciones</a>
          </li>
          <li>
            <a [routerLink]="['/raw-material-requests']">Solicitud Materia Prima</a>
          </li>
        <li>
      </ul>
    </nav>
  </header>