<div class="panel-general">
    <div class="panel-g">
        <div class="paneladmin">
            <div class="panel-header">
                <h3>{{titleOne}}</h3>
            </div>
            <div class="panel-body">

                <div class="btn-add-panel">
                    <a [routerLink]="['/StateBranchOffice']"><i class="fas fa-info-circle"></i> admin estate </a> &nbsp;&nbsp;
                    <a [routerLink]="['/branchoffice']"><i class="fas fa-info-circle"></i> admin sucursal</a>
                    <app-statebranchoffice-create-dialog></app-statebranchoffice-create-dialog>
                    <app-branchoffice-create-dialog></app-branchoffice-create-dialog>
                </div>
                <app-branchoffice></app-branchoffice>
            </div>
        </div>

        <div class="paneladmin">
            <div class="panel-header">
                <h3>{{titleTwo}}</h3>
            </div>
            <div class="panel-body">
                <div class="btn-add-panel">
                    <a [routerLink]="['/machinestate']"><i class="fas fa-info-circle"></i> admin estate </a> &nbsp;&nbsp;
                    <a [routerLink]="['/branchoffice']"><i class="fas fa-info-circle"></i> admin maquinaria</a>
                    <app-statebranchoffice-create-dialog></app-statebranchoffice-create-dialog>
                    <app-branchoffice-create-dialog></app-branchoffice-create-dialog>
                </div>

                 <app-branchoffice></app-branchoffice> <!-- AQUI VA EL COMPONENTE DE MAQUINA -->

            </div>
        </div>
    </div>


    <div class="panel-g">
        <div class="paneladmin">
            <div class="panel-header">
                <h3>{{titleThree}}</h3>
            </div>
            <div class="panel-body">
                <div class="btn-add-panel">

                    <a [routerLink]="['/requestbatches']"><i class="fas fa-info-circle"></i> Solicitud Lotes</a>
                    <app-requestbatches-create-dialog></app-requestbatches-create-dialog>
                </div>
                    <app-requestbatches></app-requestbatches>

            </div>
        </div>

        <div class="paneladmin">
            <div class="panel-header">
                <h3>{{titleThree}}</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>

<br><br><br>
