<div class="cont-padre">
    <div class="tab-head">
        <h2>Mostrando Datos</h2>
    </div>
    <div class="tab-body">
        <table class="tab">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Acciones</th>
                </tr>
                <tr *ngFor="let list of lists">
                    <th>{{list.id}}</th>
                    <th>{{list.name}}</th>
                    <th>
                        <button id="btn-ver" type="submit"><i class="fas fa-eye"></i> Ver</button>&nbsp;
                        <button id="btn-edit" type="submit"><i class="fas fa-edit"></i> Editar</button>&nbsp;
                        <button id="btn-del" type="submit"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </th>
                </tr>

        </table>
    </div>
    
</div>