<div class="cont-padre">
    <div class="tab-head">
        <h2>{{title}}</h2>
    </div>
    <div class="tab-body">
        <div class="btn-agregar"><app-requestanalysis-create-dialog></app-requestanalysis-create-dialog></div>
        <table class="tab">
                <tr>
                    <th>Codigo</th>
                    <th>Requeststatus</th>
                    <th>Acciones</th>
                </tr>
                <tr *ngFor="let requestanalyse of requestanalysis">
                    <th>{{requestanalyse.code}}</th>
                    <th>{{requestanalyse.requestStatus.description}}</th>
                    <th>
                        <button id="btn-ver" type="submit" [routerLink]="['/requestanalysis/show', requestanalyse.code]"><i class="fas fa-eye"></i> Ver</button>&nbsp;
                        <button id="btn-edit" type="submit" [routerLink]="['/requestanalysis/', requestanalyse.code]" ><i class="fas fa-edit"></i> Editar</button>&nbsp;
                        <button id="btn-del" type="submit" (click)="deleterequestanalysis(requestanalyse.code)"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </th>
                </tr>

        </table>
    </div>
</div>
